* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pink: #AF3A72;
  --green: #CAD386;
  --white: #FFFCFD;
  --black: #191A21;
  --pinky: #FDE6F1;
}

.navbarColor {
  background-color: var(--pink);
}

.colorCart {
  color: var(--white);
  font-size: 25px;
}

.valueCart {
  position: relative;
  bottom: 25px;
  right: 25px;
  font-size: 20px;
  font-weight: bold;
  color: var(--white)
}

.bgButton {
  background-color: var(--green);
  font-weight: bold;
}

/* media query mobile */
@media screen and (min-width: 375px) {
  .imgLogo {
    width: 3rem;
  }

  .divInputs {
    flex-direction: column;
  }

  .bannerImg {
    object-fit: cover;
    width: 100%;
  }

  .divCategory1 {
    background-color: var(--pink);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .divCategory1 h1 {
    font-size: 16px;
    padding: 15px 0 10px 31px;
    color: var(--white)
  }

  .divCategory2 {
    gap: 20px;
  }

  .divCategory2 img {
    width: 150px;
  }

  /* Login */
  .bgLoginContainer {
    background-color: var(--pinky);
    width: 700px;
    border-radius: 10px;
  }

  .h1Login {
    font-size: 21px;
    font-weight: bold;
    color: var(--pink)
  }

  .flexLastInputs {
    flex-direction: column;
    padding-top: 20px;
  }

  .btnLogin {
    background-color: var(--green);
  }

  .btnLostPassword {
    color: var(--pink);
  }

  .labelsLogin {
    font-size: 15px;
  }

  .h2Login {
    font-size: 14px;
    padding: 21px;
  }

  .spanLogin {
    color: var(--pink);
    font-weight: bold;
  }

  .inputsLogin {
    width: 250px;
  }

  .flexFooter {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
  }

  .divRedes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .navFooter {
    padding-bottom: 15px;
    color: var(--white);
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
  }

  .textFooterBot {
    background-color: #131313;
    color: var(--white);
    font-size: 15px;
    padding: 20px 0 10px;
  }

  .divFormFooter {
    display: flex;
    flex-direction: column;
    color: var(--white);
    gap: 8px;
  }

  .btnFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73px;
    height: 23px;
    font-size: 13px;
    margin-top: 5px;
  }

  .inputFooter {
    width: 170px;
    height: 22px;
    font-size: 12px;
    padding: 2px;
  }

  .labelFooter {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 2px;
  }

  .divLogoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgLogoFooter {
    width: 7rem;
  }

  .linkFooter {
    text-decoration: none;
    color: var(--white);
  }

  /* Cart */
  .bgCartContainer {
    background-color: var(--pinky);
    width: 100%;
    border-radius: 10px;
  }
  .h1Cart {
    font-size: 18px;
    font-weight: bold;
    color: var(--pink);
    text-align: center;
  }
  .bgCartContainer table tr {
    font-size: 12px;
  }
  .textCart {
    font-size: 10px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .totalCart {
    font-size: 10px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .pTextCart {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .btnCart1 {
    background-color: var(--green);
    font-size: 10px;
    width: 80px;
  }
  .btnCart2 {
    background-color: var(--green);
    font-size: 10px;
    width: 120px;
  }
  .widthCartCont {
    width: 76px;
    height: 28px;
    border-radius: 10px;
  }

  /* Checkout */
  .h3Checkout {
    font-size: 15px;
    text-align: center;
  }

  .formCheckout {
    padding: 24px 36px;
  }

  .lblCheckout {
    font-size: 16px;
  }

  .inputCheckout {
    width: 240px;
    height: 35px;
  }

  .pCheckout {
    font-size: 12px;
    text-align: justify;
  }

  .btnCheckout {
    background-color: var(--green);
    font-size: 12px;
    width: 80px;
  }

  /* Products */
  .divProducts1 {
    border-radius: 10px;
    background-color: var(--pinky);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 0px;
  }

  .divProducts2 {
    gap: 20px;
  }

  .divProducts2 img {
    width: 150px;
  }

  .divFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .pProducts {
    font-size: 14px;
    font-weight: bold;
    color: var(--pink)
  }

  .labelProducts {
    font-size: 12px;
  }

  .btnProd1 {
    background-color: var(--green);
    font-size: 10px;
    width: 80px;
  }

  .btnProd2 {
    background-color: var(--green);
    font-size: 10px;
    width: 110px;
  }
}

@media screen and (min-width: 768px) {
  .imgLogo {
    width: 6rem;
  }

  .divInputs {
    flex-direction: row;
  }

  .divCategory2 {
    gap: 30px;
  }

  .divCategory2 img {
    width: 200px;
  }

  /* Login */
  .h1Login {
    font-size: 40px;
    font-weight: bold;
    color: var(--pink)
  }

  .flexLastInputs {
    flex-direction: row;
  }

  .labelsLogin {
    font-size: 20px;
  }

  .h2Login {
    font-size: 20px;
    padding: 21px;
  }

  .inputsLogin {
    width: 100%;
  }

  .flexFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .divFormFooter {
    display: flex;
    flex-direction: column;
    color: var(--white);
    gap: 10px;
  }

  .divRedes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 6rem;
    padding: 35px 0 20px 0;
  }

  .navFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .btnFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 35px;
    font-size: 18px;
    margin-top: 5px;
  }

  .inputFooter {
    width: 207px;
    height: 30px;
    font-size: 16px;
    padding: 2px;
  }

  .labelFooter {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
  }

  /* Cart */
  .h1Cart {
    font-size: 32px;
    font-weight: bold;
    color: var(--pink);
    text-align: center;
  }
  .bgCartContainer table tr {
    font-size: 16px;
  }
  .textCart {
    font-size: 17px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .totalCart {
    font-size: 17px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .pTextCart {
    font-size: 17px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .btnCart1 {
    background-color: var(--green);
    font-size: 16px;
    width: 105px;
  }
  .btnCart2 {
    background-color: var(--green);
    font-size: 16px;
    width: 175px;
  }
  .widthCartCont {
    width: 145px;
    height: 75px;
    border-radius: 10px;
  }
  /* Checkout */
  .h3Checkout {
    font-size: 18px;
    text-align: center;
  }

  .formCheckout {
    padding: 24px 36px;
  }

  .lblCheckout {
    font-size: 20px;
  }

  .inputCheckout {
    width: 420px;
    height: 38px;
  }

  .pCheckout {
    margin-top: 12px;
    font-size: 15px;
    text-align: justify;
  }

  .btnCheckout {
    background-color: var(--green);
    font-size: 16px;
    width: 98px;
  }

  /* Products */
  .divMainProducts {
    display: flex;
    gap: 0;
  }

  .divProducts1 {
    border-radius: 10px;
    background-color: var(--pinky);
    height: 236px;
    width: 300px;
    padding: 0 20px;
    margin-top: 22px;
  }

  .divProducts2 {
    gap: 20px;
  }

  .divProducts2 img {
    width: 150px;
  }

  .divFilter {
    display: flex;
    flex-direction: column;
  }

  .pProducts {
    font-size: 24px;
    font-weight: bold;
    color: var(--pink)
  }

  .labelProducts {
    font-size: 18px;
  }

  .btnProd1 {
    background-color: var(--green);
    font-size: 14px;
    width: 80px;
  }

  .btnProd2 {
    background-color: var(--green);
    font-size: 14px;
    width: 130px;
  }
}

@media screen and (min-width: 1440px) {
  .imgLogo {
    width: 7rem;
  }

  .divInputs {
    flex-direction: row;
  }

  .divCategory2 {
    gap: 30px;
  }

  .divCategory2 img {
    width: 180px;
  }
  /* Cart */
  .bgCartContainer {
    background-color: var(--pinky);
    width: 1115px;
    border-radius: 10px;
  }

  .flexFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    width: 50%;
  }

  .divRedes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 87px;
  }

  .divLogoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgLogoFooter {
    width: 264px;
  }

  .divFormFooter {
    gap: 14px;
  }

  .btnFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 39px;
    font-size: 20px;
    margin-top: 5px;
  }

  .inputFooter {
    width: 388px;
    height: 38px;
    font-size: 18px;
    padding: 5px;
  }

  .labelFooter {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2px;
  }

  .navFooter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
  }
  /* Cart */
  .cartContainer {
    width: 1115px;
  }
  .bgCartContainer table tr {
    font-size: 20px;
  }
  .textCart {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .totalCart {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .pTextCart {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 0px;
  }
  .btnCart1 {
    background-color: var(--green);
    font-size: 16px;
    width: 105px;
  }
  .btnCart2 {
    background-color: var(--green);
    font-size: 16px;
    width: 175px;
  }
  .widthCartCont {
    width: 197px;
    height: 75px;
    border-radius: 10px;
  }
  /* Checkout */
  .h3Checkout {
    font-size: 26px;
    text-align: center;
  }

  .formCheckout {
    padding: 28px 36px;
  }

  .lblCheckout {
    font-size: 28px;
  }

  .inputCheckout {
    width: 700px;
    height: 50px;
  }

  .pCheckout {
    margin-top: 25px;
    font-size: 22px;
    text-align: justify;
  }

  .btnCheckout {
    background-color: var(--green);
    font-size: 20px;
    width: 110px;
  }

  /* Products */
  .divMainProducts {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .divProducts1 {
    border-radius: 10px;
    background-color: var(--pinky);
    height: 236px;
    width: 300px;
    padding: 0 20px;
    margin-top: 22px;
  }

  .divProducts2 {
    gap: 30px;
  }

  .divProducts2 img {
    width: 150px;
  }

  .divFilter {
    display: flex;
    flex-direction: column;
  }

  .pProducts {
    font-size: 24px;
    font-weight: bold;
    color: var(--pink)
  }

  .labelProducts {
    font-size: 18px;
  }

  .btnProd1 {
    background-color: var(--green);
    font-size: 14px;
    width: 80px;
  }

  .btnProd2 {
    background-color: var(--green);
    font-size: 14px;
    width: 130px;
  }
}